.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/farmland.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

.animalText {
    height: 18rem;
    background-color:rgba(15, 15, 15, 0.4);
    padding: 1rem 3rem;
    margin: 10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white
}

.animalText a {
    background-color:rgba(15, 15, 15, 0.4);
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 1.5rem
}

.animalDetails {
    display: flex;
    height: 40rem;
}

.biologyCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color:rgba(167, 121, 68, 0.363);
    padding: 1rem;
}

.biologyCard h1 {
    margin-left: 1rem;
    margin-bottom: 0rem;
    color:rgb(85, 85, 85);
}


.biologyCard img {
    border-radius: 10px;
}

.biologyCard p {
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: gray;
    font-size: 1.1rem;
}

.bioInfo {
    display: flex;
    padding: 2.5rem;
}

.bioInfo img {
    height: 250px;
    width: 300px;
}

.infoCard {
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(167, 121, 68, 0.363);
    width: 80%;
    color:rgb(85, 85, 85);

}

.infoCard p {
    font-size:1.3rem;
}

.infoSection {
    display: flex;
    height: 40rem;
    padding: 1rem;
    overflow: auto;
    justify-content: center;
}

.animalImpactSection {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    overflow-x: auto;
}

.animalImpactCard {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 1rem;
    height: 500px;
    justify-content: space-between;
}

.animalImpactCard button {
    border: 1px solid rgba(167, 121, 68, 0.363);
    margin: 1rem;
    display: flex;
    justify-content: center;
    padding: .5rem;
    width: 93%;
    color:rgb(85, 85, 85);
    background-color: rgba(167, 121, 68, 0.363);
}

.controlHeader {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: 250px;
    width: 100%;
    filter: contrast(60%);
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.animalImpactCard img:hover {
    filter: contrast(100%);
}

.animalImpactCard img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: 250px;
    filter: contrast(60%);
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.animalImpactCard img:hover {
    filter: contrast(100%);
}

.animalImpactTitle {
    padding-left: 1rem;
    padding-top: 1rem;
    color: gray;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.animalImpactCard p {
    padding: 1rem;
    color: gray;
    font-size: 1.1rem;
}

.controlContainer {
    width: 85%;
    position: relative;
    left: 15%;
}

.controlSection {
    display:flex;
}

.menu {
    position: fixed;
}

@media only screen and (max-width: 750px) {
    .infoGrid {
      display: flex;
      flex-direction: column
    }
  }