.controlSection {
    display:flex;
    flex-direction: column;
    padding: 2rem;
}

.controlCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.controlCard img{
    height:400px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    left: 20px;
    bottom: 50px;
    box-shadow: 0 .2em 1.2em hsla(20, 20, 20, 10%);
}

.controlCardContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controlCardInfo {
    width: 50%;
    
}

@media only screen and (max-width: 750px) {
    .controlInfo {
      display: flex;
      flex-direction: column
    }
  }