.backButton {
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.benefit {
  width: 400px
}

.bioControlHero {
  display: flex;
  background-image: url("/bioControlHero.jpeg");
  height: 70rem;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.controlHero {
  display: flex;
  background-image: url("/controlHero.jpeg");
  height: 70rem;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.controlHeroInfo {
  height: 300px;
  width: 350px;
  background-color: #edd8c4;
  position: relative;
  color: #c96c00;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  top: 400px;
  left: 30%;
  font-size: 1.2rem;
}

.controlSection {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 1.2rem;
}

.controlSection h1 {
  text-transform: uppercase;
  color: #c96c00;
}

.controlRow {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.controlRow1 {
  display: flex;
  justify-items: center;
}

.controlRow p {
  margin-left: 1rem;
}

.controlVideo {
  display: flex;
  flex-direction: column;
  background-image: url("/controlVideo.jpeg");
  background-color: #edd8c4;
  padding: 1rem;
}

.controlVideo h1 {
  text-transform: uppercase;
}

.h1Right {
  color: #c96c00;
}



.controlProgram {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 1.2rem;
  background-color: #edd8c4;
  height: 60rem;
  margin-bottom: 10rem;
}

.controlCards {
  display: flex;
  justify-content: center;
  width: 100%;
}

.controlCard {
  margin-left: 10rem;
  margin-right: 5rem;
  margin-top: 0rem;
  height: 30rem;
}

.controlCard img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  position: relative;
  right: 110px;
  bottom: 220px;
  box-shadow: 0 0.2em 1.2em hsla(20, 20, 20, 10%);
}

.conventionalHero {
  display: flex;
  background-image: url("/conventionalHero.jpeg");
  height: 70rem;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.controlCardContainer {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 0.5rem;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controlCardInfo {
  width: 55%;
  position: relative;
  left: 40%;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.controlCardInfo a {
  border: 1px solid rgba(167, 121, 68, 0.363);
  margin: 1rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 93%;
  color: rgb(85, 85, 85);
  background-color: rgba(167, 121, 68, 0.363);
}

.conventionalContainer {
  display: flex;
  padding: 2rem;
  justify-content: center;
}

.conventionalText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.conventionalInfo {
  display: flex;
  flex-direction: column;
  background-color: rgba(83, 54, 0, 0.767);
  height: 400px;
  width: 400px;
  margin-left: 1rem;
  color: white;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.conventionalInfo ul li {
  font-size: 1.5rem;
  margin: 1rem;
}

.controlMethodCardSection {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  justify-content: center;
}

.invasion {
  width: 700px;
  align-self: flex-start;
}

.serviceHero {
  display: flex;
  background-image: url("/serviceHero.jpeg");
  height: 70rem;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.tabContainer {
  padding: 3rem;
  border: 10px;
}

@media only screen and (max-width: 750px) {
  .controlInfo {
    display: flex;
    flex-direction: column;
  }
}
