.controlSection {
    display:flex;
    flex-direction: column;
    padding: 2rem;
}

.controlCards {
    display: flex;
    overflow-x: scroll;
}

.bioControlSection {
    display:flex;
    flex-direction: column;
    padding: 2rem;
}