/* @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");

html {
     body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
       Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
       sans-serif;
  }
 } */
.hero {
  visibility: hidden;
  height: 100vh;
  background-color: rgba(167, 121, 68, 0.363);
  margin-top: 1rem;
  .container {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
    .heroinner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 24px;
      height: 100vh;
      .herocontent {
        width: 50%;
        .herocontentinner {
          width: 400px;
          color: #323232;
          margin: 0 auto;
          h1 {
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 24px;
            .herocontentline {
              margin: 0;
              height: 44px;
              overflow: hidden;
              .herocontentlineinner {
                font-size: larger;
                color: black;
              }
            }
          }
          p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            padding-right: 48px;
            margin-bottom: 56px;
          }
          .btnrow {
            position: relative;
            &:before {
              position: absolute;
              content: "";
              width: 56px;
              height: 1px;
              background: #338622;
              top: 50%;
              left: -68px;
            }
            button {
              background: none;
              border: none;
              font-size: 12px;
              padding: 0;
              cursor: pointer;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.7px;
              display: flex;
              align-items: center;
              position: relative;
              &:focus {
                outline: none;
              }
              .arrowicon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #007fff;
                height: 48px;
                width: 48px;
                border-radius: 100px;
                margin-left: 16px;
                left: 80px;
                transform-origin: center center;
              }
            }
          }
        }
      }
      .heroimages {
        width: 50%;
        height: 100vh;
        position: relative;
        .heroimagesinner {
          .heroimage {
            position: absolute;
            overflow: hidden;
            &.pig {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 200px;
              height: 200px;
              top: 40px;
              right: 0px;
              left: 400px;

              border-radius: 50%;
              background-image: url("https://i.loli.net/2021/04/24/kbj9c34ToDH5m6G.jpg");
              background-size: cover;
              transition: ease-in-out 0.3s;

              z-index: 2;
              &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;

                background: inherit;
                background-position: bottom;
                filter: blur(40px) saturate(0%);
                transform: scaleX(0.4);
                transition: ease-in-out 0.4s;
                border-radius: 120px;
                transform-origin: right;
                opacity: 0;

                z-index: -1;
              }
              .containerInfo {
                position: relative;

                line-height: 1.8;
                transition: ease-in-out 0.3s;
                opacity: 0;
              }
              .containerLocation {
                transition-delay: 0.15s;
              }

              &:hover {
                border-radius: 0;
                width: 300px;
                height: 200px;

                box-shadow: 0px 0px 1px rgba(236, 233, 233, 0.04),
                  0px 2px 6px rgba(238, 241, 241, 0.08),
                  0px 16px 24px rgba(239, 243, 242, 0.1),
                  0px 24px 32px rgba(234, 236, 236, 0.14);
                &:before {
                  width: 100%;

                  opacity: 0.18;
                  filter: blur(10px) saturate(100%);
                  transform: scale(2.8) translate3d(-18%, 0px, 0px);
                }

                .containerInfo {
                  transform: translate3d(30%, 0px, 0px);
                  opacity: 1;
                  color: #dfdfdf;
                  left: 30px;
                  font-size: x-large;
                }
              }
            }

            &.fox {
              position: relative;
              display: flex;

              flex-direction: column;
              justify-content: center;
              width: 200px;
              height: 200px;
              top: -170px;
              left: 0px;

              border-radius: 50%;
              background-image: url("https://i.loli.net/2021/04/24/GnCaNXQLYbrT59F.jpg");
              background-size: cover;
              transition: ease-in-out 0.3s;

              z-index: 2;
              &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;

                background: inherit;
                background-position: bottom;
                filter: blur(40px) saturate(0%);
                transform: scaleX(0.4);
                transition: ease-in-out 0.4s;
                border-radius: 120px;
                transform-origin: right;
                opacity: 0;

                z-index: -1;
              }
              .containerInfo {
                position: relative;

                line-height: 1.8;
                transition: ease-in-out 0.3s;
                opacity: 0;
              }
              .containerLocation {
                transition-delay: 0.15s;
              }

              &:hover {
                border-radius: 0;
                width: 300px;
                height: 200px;

                box-shadow: 0px 0px 1px rgba(236, 233, 233, 0.04),
                  0px 2px 6px rgba(238, 241, 241, 0.08),
                  0px 16px 24px rgba(239, 243, 242, 0.1),
                  0px 24px 32px rgba(234, 236, 236, 0.14);
                &:before {
                  width: 100%;

                  opacity: 0.18;
                  filter: blur(10px) saturate(100%);
                  transform: scale(2.8) translate3d(-18%, 0px, 0px);
                }

                .containerInfo {
                  transform: translate3d(30%, 0px, 0px);
                  opacity: 1;
                  color: #dfdfdf;
                  left: 200px;
                  font-size: x-large;
                }
              }
            }

            &.rabbit {
              position: relative;
              display: flex;

              flex-direction: column;
              justify-content: center;
              width: 200px;
              height: 200px;
              top: -140px;
              left: 200px;

              border-radius: 50%;
              background-image: url("https://i.loli.net/2021/04/24/7xEoF2qybnSHjMr.jpg");
              background-size: cover;
              transition: ease-in-out 0.3s;

              z-index: 2;
              &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;

                background: inherit;
                background-position: bottom;
                filter: blur(40px) saturate(0%);
                transform: scaleX(0.4);
                transition: ease-in-out 0.4s;
                border-radius: 120px;
                transform-origin: right;
                opacity: 0;

                z-index: -1;
              }
              .containerInfo {
                position: relative;

                line-height: 1.8;
                transition: ease-in-out 0.3s;
                opacity: 0;
              }
              .containerLocation {
                transition-delay: 0.15s;
              }

              &:hover {
                border-radius: 0;
                width: 300px;
                height: 200px;

                box-shadow: 0px 0px 1px rgba(236, 233, 233, 0.04),
                  0px 2px 6px rgba(238, 241, 241, 0.08),
                  0px 16px 24px rgba(239, 243, 242, 0.1),
                  0px 24px 32px rgba(234, 236, 236, 0.14);
                &:before {
                  width: 100%;

                  opacity: 0.18;
                  filter: blur(10px) saturate(100%);
                  transform: scale(2.8) translate3d(-18%, 0px, 0px);
                }

                .containerInfo {
                  transform: translate3d(30%, 0px, 0px);
                  opacity: 1;
                  color: #dfdfdf;
                  left: 30px;
                  bottom: 10px;
                  font-size: x-large;
                }
              }
            }

            &.goat {
              position: relative;
              display: flex;

              flex-direction: column;
              justify-content: center;
              width: 200px;
              height: 200px;
              top: -120px;
              left: 0px;

              border-radius: 50%;
              background-image: url("https://i.loli.net/2021/04/24/RhJlHYuIZOwM5qD.jpg");
              background-size: cover;
              transition: ease-in-out 0.3s;

              z-index: 2;
              &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;

                background: inherit;
                background-position: bottom;
                filter: blur(40px) saturate(0%);
                transform: scaleX(0.4);
                transition: ease-in-out 0.4s;
                border-radius: 120px;
                transform-origin: right;
                opacity: 0;

                z-index: -1;
              }
              .containerInfo {
                position: relative;

                line-height: 1.8;
                transition: ease-in-out 0.3s;
                opacity: 0;
              }
              .containerLocation {
                transition-delay: 0.15s;
              }

              &:hover {
                border-radius: 0;
                width: 300px;
                height: 200px;

                box-shadow: 0px 0px 1px rgba(236, 233, 233, 0.04),
                  0px 2px 6px rgba(238, 241, 241, 0.08),
                  0px 16px 24px rgba(239, 243, 242, 0.1),
                  0px 24px 32px rgba(234, 236, 236, 0.14);
                &:before {
                  width: 100%;

                  opacity: 0.18;
                  filter: blur(10px) saturate(100%);
                  transform: scale(2.8) translate3d(-18%, 0px, 0px);
                }

                .containerInfo {
                  transform: translate3d(30%, 0px, 0px);
                  opacity: 1;
                  color: #fdfdfa;
                  left: 150px;
                  bottom: 80px;
                  font-size: x-large;
                }
              }
            }

            &.dog {
              position: relative;
              display: flex;

              flex-direction: column;
              justify-content: center;
              width: 200px;
              height: 200px;
              top: -300px;
              right: 50px;
              left: 400px;

              border-radius: 50%;
              background-image: url("https://i.loli.net/2021/04/24/foi7WlaLAv62sx3.jpg");
              background-size: cover;
              transition: ease-in-out 0.3s;

              z-index: 2;
              &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;

                background: inherit;
                background-position: bottom;
                filter: blur(40px) saturate(0%);
                transform: scaleX(0.4);
                transition: ease-in-out 0.4s;
                border-radius: 120px;
                transform-origin: right;
                opacity: 0;

                z-index: -1;
              }
              .containerInfo {
                position: relative;

                line-height: 1.8;
                transition: ease-in-out 0.3s;
                opacity: 0;
              }
              .containerLocation {
                transition-delay: 0.15s;
              }

              &:hover {
                border-radius: 0;
                width: 300px;
                height: 200px;

                box-shadow: 0px 0px 1px rgba(236, 233, 233, 0.04),
                  0px 2px 6px rgba(238, 241, 241, 0.08),
                  0px 16px 24px rgba(239, 243, 242, 0.1),
                  0px 24px 32px rgba(234, 236, 236, 0.14);
                &:before {
                  width: 100%;

                  opacity: 0.18;
                  filter: blur(10px) saturate(100%);
                  transform: scale(2.8) translate3d(-18%, 0px, 0px);
                }

                .containerInfo {
                  transform: translate3d(30%, 0px, 0px);
                  opacity: 1;
                  color: #dfdfdf;
                  left: 30px;
                  font-size: x-large;
                }
              }
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              //transform: matrix(1, 0, 0, 1, 0, 0) !important;
            }
          }
        }
      }
    }
  }
}
