@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
.container {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 20px;
}

.containerMap {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: center;
}

.title {
  height: 140px;
  // background-color: rgba(109, 109, 109, 0.589);
  position: relative;
  width: 100%;
  color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: xx-large;
}

.controlContainer {
  height: 15rem;
  // overflow: hidden;
  width: 20rem;
  margin-left: 85%;
  background-color: rgb(244, 248, 248);
}
.controlItem {
  margin-left: 20px;
  background-color: rgb(244, 248, 248);
  // margin-bottom: 50rem;
}

.cameraContainer {
  height: 15rem;
  // overflow: hidden;
  width: 20rem;
  margin-left: 85%;
  background-color: rgb(244, 248, 248);
  // margin-bottom: 50rem;
}
.cameraItem {
  margin-left: 20px;
  background-color: rgb(244, 248, 248);
  // margin-bottom: 50rem;
}
