@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

$slide-count: 5;
$slide-width: 30rem;

.text {
  font-family: "Oswald", sans-serif;
  font-size: xx-large;
  margin-bottom: 35px;
  margin-top: 30px;
}
.text1 {
  font-family: "Oswald", sans-serif;
  font-size: large;
  margin-top: 30px;
  margin-left: 30%;
}

.html {
  box-sizing: border-box;
  font-size: 10px;
  @media (max-width: 425px) {
    font-size: 8px;
  }
}

.body {
  font-size: 1.5rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

// *,
// *:before,
// *:after {
//   -webkit-box-sizing: border-box;
//   box-sizing: inherit;
// }

.ul {
  list-style-type: none;
  padding: 0;
}

.a {
  text-decoration: none;
  color: inherit;
}

.carouselwrap {
  margin-top: 2%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(167, 121, 68, 0.363);
}

.carouselinner {
  //--------------------------------------------------------------------------------------
  height: 49rem;
  position: relative;
  width: calc(#{27rem * 3});
}

.carouselcontainer {
  height: 30rem; /////////////////////////////////////////////////////////////////////////carddddd
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.carouselslidelist {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(#{(7 + 0.5) * 30rem * 2});
}

.carouselslideitem {
  //-----------------------------------------------------card size
  display: inline-block;
  height: 25rem;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 28rem;
}

.carouselslideitemimglink {
  cursor: zoom-in;
  display: flex;
  height: 80%; //00000000000000000000000000000000000000000000000000
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    width: 100%;
  }

  &::after {
    align-items: center;
    background: rgba(black, 0.5);
    color: white;
    content: " "; // Read More
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    width: 100%;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    img {
      transform: scale(1.3);
    }
  }
}

.carouselslideitembody {
  bottom: 2rem; //--------------------------------change the title and text
  height: 10%;
  position: absolute;

  .h4 {
    margin: 0.8rem 0 0;
    text-transform: uppercase;
    font-style: bold;
    font-size: 1.3rem;
  }

  .p {
    font-size: 1rem;
    line-height: 1.3;
    margin: 0.7rem 0 0;
  }
}

.carouselbtn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);

  &prev {
    left: -6rem;
  }

  &next {
    right: -6rem;
  }
}

.carouselbtnarrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 4rem;
  width: 4rem;
  z-index: 10;

  &left {
    transform: rotate(135deg);
  }

  &right {
    transform: rotate(-45deg);
  }
}

.carouseldots {
  display: inline-block;
  left: 50%;
  margin-top: -1.5rem;
  position: absolute;
  transform: translateX(-50%);

  .dot {
    background: rgb(80, 82, 79);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 4rem;
    margin: 0 0.3rem;
    outline: none;
    transform: scale(0.5);
    width: 4rem;
    &.active {
      background: rgb(101, 202, 51);
    }
  }
}
