// html {
//   body {
//     background: #f5f7f8;
//     font-family: system-ui;
//     -webkit-font-smoothing: antialiased;
//     padding: 20px 0;
//   }
// }
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

.regulationHero {
  display: flex;
  background-image: url("https://i.loli.net/2021/04/25/aLhwGBYsoRIkpyf.jpg");
  height: 48rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.regulationHeroInfo1 {
  height: 50px;
  background-color: rgba(109, 109, 109, 0.288);
  position: relative;
  width: 700px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: xx-large;
  font-style: inherit;
  margin-top: 30%;
}
.regulationHeroInfo {
  height: 70px;
  // background-color: rgba(109, 109, 109, 0.589);
  background-color: rgba(109, 109, 109, 0.288);
  position: relative;
  width: 700px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  font-style: italic;
}

.container {
  height: 100%;
  overflow: hidden;
  width: 96%;
  position: center;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}
.band {
  //-------------------------------------------container size
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  // sets up hover state
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  .article {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }

  .p {
    flex: 1;
    line-height: 1.4;
  }

  .span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}

.item1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;

    h1 {
      font-size: 24px;
    }
  }
}

.regulation1 {
  background-image: url("https://i.loli.net/2021/04/25/czbhioV5epO3wEA.jpg");
  background-size: cover;
}
.regulation2 {
  background-image: url("https://i.loli.net/2021/04/25/54qONRy2rjVvIGh.jpg");
  background-size: cover;
}
.regulation3 {
  background-image: url("https://i.loli.net/2021/04/25/sqV6nZRxHTe9cpM.jpg");
  background-size: cover;
  // width: 300px;
  height: 200px;
}
.regulation4 {
  background-image: url("https://i.loli.net/2021/04/25/ANQUvLgJknEyZt7.jpg");
  background-size: cover;
}
.regulation5 {
  background-image: url("https://i.loli.net/2021/04/25/ylbMDpnhBkd7OxK.png");
  background-size: cover;
}
.regulation6 {
  background-image: url("https://i.loli.net/2021/04/25/3DIzNOoUlmBxg57.jpg");
  background-size: cover;
  // width: 300px;
  height: 250px;
}
.regulation7 {
  background-image: url("https://i.loli.net/2021/04/25/WBeiRS2gvnqmxrM.jpg");
  background-size: cover;
  // width: 300px;
  height: 300px;
}
