.container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.container img {
    width: 400px;
}

.container p {
    font-size:1.2rem;
}

.section {
    display: flex;
    margin-bottom: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    justify-content: center;
}

